#general
.*.swp
.env

#backend stuff
.venv
db.sqlite3
__pycache__/

#frontend stuff
.DS_Store
node_modules/
npm-debug.log*
frontend/test/unit/coverage/
frontend/test/e2e/reports/
selenium-debug.log
frontend/webpack-stats.json

