#general
.*.swp
dist/
.env

#backend stuff
.venv
db.sqlite3
__pycache__/
migrations/

#frontend stuff
webpack-stats.json
.DS_Store
node_modules/
npm-debug.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log
